@tailwind base;
@tailwind components;
@tailwind utilities;


body {}

.btn-xs.btn-sm {
  font-size: .7em;
}

.text-ellipsis {
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.file-item:nth-child(even) {
  border-radius: 10px;
  background-color: #eee;
}
